:root 
{
  /* 컬러 모음 */
  --main-color:#FFA500;
  --color-black: #111;
  --color-white: #fff;
  --color-gray: #787878;
  --input-gray: #e5e5ec;
  --button-gray: #f7f7f7;
  --border-color-gray: #dadada;
  --font-size32: 32px;
  --font-size24: 24px;
  --font-size20: 20px;
  --font-size16: 16px;
  --font-size14: 14px;
  --font-size12: 12px;
}

/* header  */
header 
{   
    height: 90px;
    border-bottom: 1px solid var(--border-color-gray);
}

.headerInner 
{
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    align-items: center;
    height: 100%;
}

.headerInner h5.logo 
{
    margin-right: 40px;
    width: 120px;
    height: 40px;
    display: flex;
    align-items: center;
}

.headerInner ul.menu 
{
    display: flex;
    align-items: center;
    height: 100%;
    gap:40px;
}

.headerInner ul.menu li, .headerInner ul.rightMenu li 
{
    padding: 10px 20px;
}

.headerInner ul.menu li a, .headerInner ul.rightMenu li a 
{
    font-size: var(--input-tab-size);
    color: var(--color-black);
    font-weight: 400;
}

.rightMenu 
{
    margin-left: auto;
    display: flex;
}

.headerInner ul.rightMenu li:first-child 
{
    margin-right:40px;
}




/*    섹션    */

section 
{
    display: flex;
    justify-content: center;

}

.wrap
{
    min-width: 1200px;
    padding: 50px 0;
    box-sizing: border-box;
    display: flex;
	margin-top: 90px;
}
.board
{
    width: 1200px;
}
.board .titlebox,
.board .namebox,
.board .lastline,
.board .boardcontent
{
    margin-bottom: 20px;
}

.board .title
{
    font-size: var(--font-size32);
    font-weight: 400;
}
.board .name
{
    font-size: var(--font-size16);
    font-weight: 400;

}
.board .contentbox .content
{
    font-size: var(--font-size16);
    font-weight: 400;
    line-height: 2;
	width: 1200px;

}

.board .contentbox
{
    min-height: 450px;
}


.board .lastline .date,
.board .lastline .select,
.board .lastline .heart,
.board .lastline .r1,
.board .lastline .r2
{
    font-size: var(--font-size14);
    font-weight: 400;
}
.board .lastline .r22,
.board .lastline .r1
{
	color: #FFA500;
}





.board .lastline,
.board .buttonbox
{
    display: flex;
    border-bottom: 1px solid var(--border-color-gray);
    padding-bottom: 20px;
}

.board .buttonbox
{
	margin-bottom: 20px;
}



.board .lastline .line1
{
    display: flex;
}
.board .lastline .line2
{
    display: flex;  
    margin-left: auto;
}


.lastline .line1 .datebox,
.lastline .line1 .selectbox,
.lastline .line2 .rightb1box
{
    margin-right: 12px;
}





/* 버튼 시작*/
.buttonbox
{
    display: flex;
    justify-content: center;
}
.buttonbox2
{
    display: flex;
    justify-content: right;
}


.combox
{
	display: flex;
	align-items: center;
	height: 40px;
	margin-bottom: 20px;
}

.combox .buttonbox2
{
	margin-left: auto;
}

.commentbox
{

	display: flex;
	width: 1100px;
/*	font-size: 15px;*/
	height: 38px;
	border: 1px solid var(--input-gray);
	border-radius: 6px;
	padding-left: 12px;
}
.board .buttonbox .button
{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    &:hover 
    {
        background: var(--main-color);
        color: #fff;
		border: 1px solid var(--main-color);
    }
}
.board .buttonbox2 .button
{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    &:hover 
    {
        background: var(--main-color);
        color: #fff;
		border: 1px solid var(--main-color);
    }
}

.button
{
    border: 1px solid var(--input-gray);
    border-radius: 6px;
    height: 40px;
    width: 100px;
    margin: 0 8px;

}
.button2
{
    border: 1px solid var(--input-gray);
    border-radius: 6px;
    height: 40px;
    width: 100px;
    margin: 0 8px;

}
.board .but1,
.board .but2
{
    font-size: var(--font-size14);
    font-weight: 400;
    /* line-height: 2; */
}

.comment-list
{
	display: flex;
}

.divcom1
{
	margin-bottom: 20px;
}

.divcom1 .comh1
{
	margin-bottom: 5px;
	font-weight: 400;
	font-size: var(--font-size16);
}

.divcom1 .comh2
{
	font-weight: 400;
	font-size: var(--font-size16);
	margin-bottom: 5px;
}

.divcom1 .comh3
{
	font-weight: 400;
    font-size: var(--font-size14);
        color: #787878;
}




/* 버튼 끝 */

.hid
{
	display: none;
}


/* 푸터 */
footer 
{
    padding:50px 0;
    border-top: 1px solid var(--border-color-gray);
}

.footerInner 
{
    margin:0 auto;
    max-width: 1200px;
    display: flex;    
}

.footerInner .f_conWrap 
{
    width: 50%;
}

.footerInner .left_conWrap .textWrap 
{
    font-size: var(--input-tab-size);
    line-height: 24px;
    margin-top: 20px;
} 

.footerInner .right_conWrap 
{
    text-align: right;
}

.footerInner .right_conWrap .textWrap 
{
    font-size: var(--input-tab-size);
    line-height: 24px;
}

.footerInner .right_conWrap h3
{
    font-size:var(--sub-title-size);
    font-weight: 400;
    color: #222;
    margin-bottom: 20px;
}

