:
/* 메인 */
main 
{
  display: flex;
  justify-content: center;
  padding-top: 90px;  
  
}

main .mainContent
{
  min-width:1200px;
  display: flex;  
  
}

main .containe
{
  width: 1200px;
  
}


/* 헤더밑 타이틀*/
main .toptitle
{

  text-align: left;
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  margin-right: 40px;
} 

main .toptitle .toptitle1
{
  margin-right: 40px;
  cursor: pointer;
  font-size: var(--font-size32);
}

/* main .toptitle .toptitle2
{
  margin-right: 40px;
  cursor: pointer;
} */

.disF 
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.disN
{
    display: none;
}

.disB 
{
    display: inline;
}


main .tabCon
{
  margin-top: 50px;
  
}


main .common th,td
{
  border: 1px solid #D9D9D9;
  border-collapse : collapse;
  white-space: nowrap;
  
}

main .detail th,td
{
  border: 1px solid #D9D9D9;
  border-collapse : collapse;
  white-space: nowrap;

  
  
}

/* .tabCon detail disB
{
  width : 1200px;
  height :300px;
} */
main table.tabCon 
{
  width: 100%;
}

td
{
  height: 70px;
  width: calc(1200px - 360px);
  /* padding: 0 20px; */
  background-color: var(--color-white);

}

td.modifytext
{
  background-color: none;
  border: 1px solid #D9D9D9;
  padding-left : 20px;
  /* padding: 0 20px; */
  /* border-radius: 6px;
  box-sizing: border-box; */
  
}
td input[type=text],
/* 추가 CSS 적용 */
input[type=password]
{
  height: 70px;
  width: calc(1200px - 360px);
  margin: 0;
  background-color: var(--color-white);
  font-size: var(--font-size16);
  border: none ;
  /* padding: 0 5px; */
  padding-left: 20px;
  border-radius: 6px;
  box-sizing: border-box;
  
}

td .changepw
{
  background-color: none;
  border: 1px solid #E5E5EC ;
  padding: 5px 20px;
  border-radius: 6px;
  cursor: pointer;
}

td.modify
{
  display: flex;
  justify-content: center;
  padding-left : 20px;
}

.modify
{
  display: flex;
  justify-content: center;
  padding-left : 20px;
}
.modify .commodify
{
  
  width: 240px;
  height: 60px;
  margin-top: 40px;
  border-radius: 6px;
  border: none;
  background-color: #999999;
  color: var(--color-white);
  cursor: pointer;
}
