:root 
{
  /* 컬러 모음 */
  --main-color:#FFA500;
  --color-black: #111;
  --color-white: #fff;
  --color-gray: #787878;
  --input-gray: #e5e5ec;
  --button-gray: #f7f7f7;
  --border-color-gray: #dadada;
  --font-size32: 32px;
  --font-size24: 24px;
  --font-size20: 20px;
  --font-size16: 16px;
  --font-size14: 14px;
  --font-size12: 12px;
}

/* section : 기본 틀 */
section 
{
  /* display: flex;
  justify-content: center; */
  /* padding-top: 90px; */
  /* padding: 90px 0 90px 40px; */
  padding: 90px 0 90px 60px;
  /* max-width: clac(100%-240px); */

  
}

/* .mainContent
{ */
  /* max-width:1200px; */
  /* display: flex; */
  /* justify-content: center; */
  
/* } */


/* 헤더밑 타이틀*/
section .toptitle
{
  /* font-size: var(--font-size32); */
  text-align: left;
  /* width: 100%; */
  margin-bottom: 40px;
  gap: 40px;
  /* margin : 0 40px 20px 0;  */
  display: flex;
  /* margin-right: 40px; */
} 

.toptitle1, .toptitle2
{
  /* margin-right: 40px; */
  font-size: var(--font-size32);
  cursor: pointer;
}
/* 
.toptitle2
{
  margin-right: 20px;
  font-size: var(--font-size32);
  cursor: pointer;
} */



/* 기본 정보 */
/* .simpleData
{
    border: 1px solid var(--color-gray);
} */
 .common, .detail
 {
    max-width: 730px;
 }
.table
{
    border: 1px solid var(--color-gray);
    border-bottom: none;
    display: flex;
    /* height: 50px; */
    align-items: center;
    /* max-width: 730px; */
    /* gap: 40px; */
}

.table:first-child
{
    border-top: 1px solid var(--color-gray);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.table:last-child
{
    border-bottom: 1px solid var(--color-gray);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.table .disTitle
{
    height: 50px;
    background-color: var(--button-gray);
    width:200px;
    display: flex;
    align-items: center;
    border-right: 1px solid var(--color-gray);
    padding-left: 20px;
}

.table .disContnet
{
    width: calc(100%-200px);
    padding-left: 20px;
}

.disContnet.changepw
{
  border: 1px solid var(--color-gray);
  font-size: var(--font-size14);
  padding: 5px 20px;
  border-radius: 6px;
  /* cursor: pointer; */
}


/*기업정보수정 버튼*/
.modify
{
  /* width: 100%; */
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.modify .commodify
{
  
  height: 50px;
  border-radius: 6px;
  border: none;
  /* margin-top: 40px; */
  background-color: var(--color-gray);
  color: var(--color-white);
  padding: 5px 20px;
  cursor: pointer;
}

/*비밀번호 변경 팝업 예정*/
.popU
{
    display: none;
}




/* 상세정보 */
/* 기본 : 숨김 처리 */
/* .detail
{
    display: none;
} */

.uploadResult > img
{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

/* 
.detail .imgg
{
    width: 100%;
    height: 350px;
} */

.detail .comInfo
{
    margin-top: 60px;
    /* margin: 40px 0 20px 0; */
}

.comInfo .title
{
    font-size: var(--font-size20);
    font-weight: 900;
    margin-bottom: 20px;

}

.detail .comInfo .contentValue
{
    font-size: var(--font-size16);
    font-weight: 500;
    margin-top: 20px;
    /* text-wrap: pre; */
    /* white-space: pre-wrap; */
}

.underLine
{
    border-bottom: 1px solid var(--color-gray);
}

.introduce
{
    font-size: var(--font-size16);
    font-weight: 500;
    margin-top: 20px;
    /* text-wrap: pre; */
    white-space: pre-wrap;
}

.contentValue #stack 
{ 
	display: flex;
	/* gap: 20px; */
	gap: 10px;

}
/* .stack .detail
{
  gap: 10px;
} */
/* .detail
{
    gap: 10px;
} */

.tech
{
  /* gap: 10px; */
  /* gap: 10px 0 10px 0; */
  background-color: var(--main-color);
  color: var(--color-white);
  padding: 12px 20px;
  /* margin: 0 12px; */
  margin-right: 12px;
  border-radius: 6px;
  border: none;
}

/* 지도  */
#map
{
    width: 100%;
    height:350px;
    margin-bottom: 20px;
}

.tableColumn
{
    display: flex;
    justify-content: space-between;
    /* font-size: var(--font-size14); */
    font-size: var(--font-size16);
    /* gap: 10px; */
    margin-bottom: 10px;
}

.type
{
    /* font-size: var(--font-size14); */
    font-size: var(--font-size16);
    /* font-weight: 500; */
    font-weight: 200;
}

/* 파일 업로드 */
/* .uploadResult 
{
    width: 100%;
    height: 100%;
} */

/* .uploadResult ul, .uploadResult ul li
{
    height: 100%;
} */

/* .uploadResult ul li img
{
    width: 100%;
    height: 500px;
} */

/* .company > img
{
    width: 100%;
    height: 100%;
    border-radius: 20px;
} */

/* .uploadResult > img
{
    width: 100%;
    height: 100%;
    border-radius: 20px;
} */

.fileImage 
{
    width: 100%;
    height: 100%;
}
