:root 
{
  /* 컬러 모음 */
  --main-color:#FFA500;
  --color-black: #111;
  --color-white: #fff;
  --color-gray: #787878;
  --input-gray: #e5e5ec;
  --button-gray: #f7f7f7;
  --border-color-gray: #dadada;
  --font-size32: 32px;
  --font-size24: 24px;
  --font-size20: 20px;
  --font-size18: 18px;
  --font-size16: 16px;
  --font-size14: 14px;
  --font-size12: 12px;
}


/*    섹션    */


section 
{
    display: flex;
    justify-content: center;
    padding-top: 90px;
} 

.wrap
{
   
    padding: 90px 0;
    /* padding-top: 90px; */
    /* display: flex;
    justify-content: center; */
    max-width: 1200px;
}


.wrap .company
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
    position: relative;
    min-height: 500px;
}

.wrap .company > label 
{
    position: absolute;
    top:0;
    left:0;
    width:100%;
}


.wrap .company .imgg
{   
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* height: 657px; */
    height: 500px;
    border-radius: 20px;
    background-color: var(--button-gray);
}

#photo
{
    display: none;
}

.wrap .main
{
    display: flex;
    align-items: flex;
    /* align-items: flex-start; */
    /* margin: 52px 0 58px 0; */
}


.main .sub1 .write .message .active
{
  display: flex;
  justify-content: center;
  margin-top: 10px;
  color: red;
}


/* company 1(text 입력 메인) 시작 */
/* 지도 부분 */

#map
{
    /* width: 1200px;
    height: 500px; */
    width:100%;
    height:350px;
    margin-bottom: 20px;
}

.mapLocation
{
    display: flex;
    gap : 20px; /*display:flex가 없을 경우, 안 먹음*/
    margin-bottom: 20px;
    align-items: center;
    justify-content: space-between;
}


.maptext
{
    /* width: 1200px; */
    width: 650px;
    /* height: 55px; */

    border: 1px solid var(--border-color-gray);
    border-radius: 6px;
    align-content: center;
    padding: 12px 12px;
    font-size: var(--font-size14);
    box-sizing: border-box;
}

.mapLocation .searchButton
{
    padding: 0px 12px;
    width: calc(100% - 650px);
    height: 40px;
    border-radius: 6px;
    border: 1px solid var(--border-color-gray);
    font-size: var(--font-size14);
    box-sizing: border-box;
    cursor: pointer;
	&:hover 
	{
	    background: var(--main-color);
	    color: #fff;
	  border: 1px solid var(--main-color);
	}
    
}




.comname
{
    /* width: 1200px; */
    width: 100%;
    /* height: 55px; */
    
    border: 1px solid var(--border-color-gray);
    /* border-radius: 10px; */
    border-radius: 6px;
    align-content: center;
    padding: 12px 12px;
    font-size: var(--font-size14);
    margin-top: 20px;
    box-sizing: border-box;
}



.wrap .main .sub1
{
    /* max-width: 620px ; */
    margin-top: 40px;
    color: var(--color-grayblack);
    font-weight: 200;
    width:100%;
}

.namaing ,.write
{

    width: 100%;
}

.wrap .main .comadress
{
    
    color: var(--color-grayblack);
    font-weight: 200;
	font-size: var(--font-size14);
}


.wrap .main .sub1 .name
{
    font-size: var(--font-size20);
    font-weight: 400;
}

.comadd
{
    display: flex;
    align-items : center;
    gap: 30px;
    margin-top: 40px;
    margin-bottom:20px;
}

.wrap .main .namaing .title,
.wrap .column .columnA .title
{
    margin: 20px 0 20px 0;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: var(--font-size20);
    /* font-size: var(--font-size18); */
}

.wrap .main .sub1 .comadd .title
{
    /* margin: none; */
    font-weight: bold;
    /* font-size: var(--font-size24); */
    font-size: var(--font-size20);
}


/* 서브 2 시작 */

.wrap .main .sub2
{
    max-width: 90px ;
}


.wrap .column
{
    display: grid; grid-template-columns: 1fr;
    gap: 50px; 
    min-width: 720px; min-height: 400px;

}



.detailtext
{
    /* width: 1200px; */
    width: 100%;
    min-height: 300px;
    resize: none;
    border: 1px solid var(--border-color-gray);
    padding: 12px 12px;
    font-size: var(--font-size14);
    /* border-radius: 10px; */
    border-radius: 6px;

}

.wrap .column .columnAA
/* .wrap .column .columnBB */
{
    font-size: var(--font-size16);
    color: var(--color-gray);
    margin-top: 40px;
}

.wrap .column .col8 .content
{

    display: flex;
    flex-direction: column;
    gap: 20px;

}

.wrap .column .col8 .content .contentDetail
{
    display: flex;
    align-items: center;
}



.wrap .column .col8 .comname1 .name
{
    font-weight: 300;
    font-size: var(--font-size16);
    color: var(--color-gray);
}
.wrap .column .col8 .comname2 .cominfotext
{
    margin-left: auto;
    /* width: 400px; */
    width: 300px;
    border: 1px solid var(--border-color-gray);
    /* border-radius: 5px; */
    border-radius: 6px;
    box-sizing: border-box;
    font-size: var(--font-size14);

    padding: 12px 12px;

} */



 /* CSS 추가 부분 */
.sectionTitleWrap .title {
    margin-right: auto;
}

.sectionNotice,
.saveTech
{
    margin-left: auto;
}

.sectionTitleWrap.modify
{
	display: flex;
	/* justify-content: space-between; */
	align-items: center;
	margin-bottom: 20px;
}

button.saveTech 
{
	border: 1px solid #787878;
    border-radius: 6px;
    padding: 0px 30px;

    cursor: pointer;
	height: 36px;
	background-color: #787878;
	color: var(--color-white);
    margin-left: 10px;
	
	&:hover 
	{
	    background: var(--main-color);
	    color: #fff;
	  border: 1px solid var(--main-color);
	}
	
}

.sectionConBody .Bodycon.tech 
{
  display: block;
  max-width: 790px;
  display: flex;
  flex-direction: column;
  gap: 20px 0;
}

.buttonWrap 
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
    width: 100%;
}



.sectionConBody .Bodycon.tech .techCon .buttonTitle 
{
  min-width: 50px;
}

/* .sectionConBody .Bodycon.tech .techCon .buttonWrap */
.sectionConBody .Bodycon.tech .techCon
{
  /* display: grid; */
  display: flex;
  align-items: center;
  /* width: 100% !important; */
  width: 100%;
  margin-bottom: 20px;
  /* margin: 10px; */
  /* width: calc(100% - 60px); */
  /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; */
  gap: 10px;
}

.sectionConBody .Bodycon.tech .techCon:last-child
{
    margin-bottom: 0;
}

.sectionConBody .Bodycon.tech input.tech 
{
  border: 1px solid var(--input-gray);
  border-radius: 6px;
  padding: 12px 20px;
  /* min-width: 120px; */
  width: initial;
  cursor: pointer;
}

.sectionConBody .Bodycon.tech input.tech.active 
{
  background-color: var(--main-color);
  color:var(--color-white);
  border: 1px soldi var(--main-color);
} 
/* CSS 추가 부분 */

.comadd .comadress
/* .workLocation .region, */
/* .workLocation .constituency */
{
    width: 200px;

    /* border-radius: 10px; */
    border-radius: 6px;
    border: 1px solid var(--border-color-gray);
    
    box-sizing: border-box;
    padding: 12px 12px;
}


.wrap .column .col8 .content
{
    display: flex;

}

.wrap .column .col8 .comname2
{
    margin-left: auto;
}

.submit
{
    display: flex;
    justify-content: center;
    /* 추가 코드 */
    gap: 20px;
    padding-bottom: 40px;
}

/* 추가 코드 */


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.submit .ytn
{
  color: var(--color-black);
/*  background-color: var(--color-white);*/
  border: 1px soild var(--color-gray);
  /* padding: 4px 8px; */
  border-radius: 4px;
  margin-top: 20px;
  font-size: var(--font-size14);
  cursor: pointer;
  padding: 10px 20px;
  width: 100px;  
}
/* 추가 코드 */

.submit .btn
{
  color: var(--color-white);
  background-color: var(--main-color);
  border: none;
  /* padding: 4px 8px; */
  border-radius: 4px;
  margin-top: 20px;
  font-size: var(--font-size14);
  cursor: pointer;
  padding: 10px 20px;
  width: 100px;  
}



.wrap .right .box2 .box,
.wrap .right .box3 .m1
{
    /* max-height: 100px ; */
    margin-right: auto;
    color: var(--color-grayblack);
    font-weight: 200;
    max-width: 290px;
    
}

.uploadResult 
{
    width:100%;
    height: 100%;
}

.uploadResult ul, .uploadResult ul li 
{
    width: 100%;
    height: 100%;
}

.uploadResult ul li img
{
    width: 100%;
    height: 500px;
}

.comInfoImage li img 
{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

