:root 
{
  /* 컬러 모음 */
  --main-color:#FFA500;
  --color-black: #111;
  --color-white: #fff;
  --color-gray: #787878;
  --input-gray: #e5e5ec;
  --button-gray: #f7f7f7;
  --border-color-gray: #dadada;
  --font-size32: 32px;
  --font-size24: 24px;
  --font-size20: 20px;
  --font-size16: 16px;
  --font-size14: 14px;
  --font-size12: 12px;
}

/* section : 기본 틀 */
section 
{
  /* display: flex;
  justify-content: center; */
  /* padding-top: 90px; */
  /* padding: 90px 0 90px 40px; */
  padding: 90px 0 90px 60px;
  /* max-width: clac(100%-240px); */

  
}

/* .mainContent
{ */
  /* max-width:1200px; */
  /* display: flex; */
  /* justify-content: center; */
  
/* } */


/* 헤더밑 타이틀*/
section .toptitle
{
  /* font-size: var(--font-size32); */
  text-align: left;
  /* width: 100%; */
  margin-bottom: 40px;
  gap: 40px;
  /* margin : 0 40px 20px 0;  */
  display: flex;
  /* margin-right: 40px; */
} 

.toptitle1, .toptitle2
{
  /* margin-right: 40px; */
  font-size: var(--font-size32);
  cursor: pointer;
}
/* 
.toptitle2
{
  margin-right: 20px;
  font-size: var(--font-size32);
  cursor: pointer;
} */



/* 기본 정보 */
/* .simpleData
{
    border: 1px solid var(--color-gray);
} */
 .common, .detail
 {
    max-width: 730px;
 }
.table
{
    border: 1px solid var(--color-gray);
    border-bottom: none;
    display: flex;
    /* height: 50px; */
    align-items: center;
    /* max-width: 730px; */
    /* gap: 40px; */
}

.table:first-child
{
    border-top: 1px solid var(--color-gray);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.table:last-child
{
    border-bottom: 1px solid var(--color-gray);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.table .disTitle
{
    height: 50px;
    background-color: var(--button-gray);
    width:200px;
    display: flex;
    align-items: center;
    border-right: 1px solid var(--color-gray);
    padding-left: 20px;
}

.table .disContnet
{
    width: calc(100%-200px);
    padding-left: 20px;
}

.disContnet.changepw
{
  border: 1px solid var(--color-gray);
  font-size: var(--font-size14);
  padding: 5px 20px;
  border-radius: 6px;
  /* cursor: pointer; */
}


/*기업정보수정 버튼*/
.modify
{
  /* width: 100%; */
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.modify .commodify
{
  
  height: 50px;
  border-radius: 6px;
  border: none;
  /* margin-top: 40px; */
  background-color: var(--color-gray);
  color: var(--color-white);
  padding: 5px 20px;
  cursor: pointer;
}

/*비밀번호 변경 팝업 예정*/
.popU
{
    display: none;
}




/* 상세정보 */
/* 기본 : 숨김 처리 */
/* .detail
{
    display: none;
} */

.uploadResult > img
{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

/* 
.detail .imgg
{
    width: 100%;
    height: 350px;
} */

.detail .comInfo
{
    margin-top: 60px;
    /* margin: 40px 0 20px 0; */
}

.comInfo .title
{
    font-size: var(--font-size20);
    font-weight: 900;
    margin-bottom: 20px;

}

.detail .comInfo .contentValue
{
    font-size: var(--font-size16);
    font-weight: 500;
    margin-top: 20px;
    /* text-wrap: pre; */
    /* white-space: pre-wrap; */
}

.underLine
{
    border-bottom: 1px solid var(--color-gray);
}

.introduce
{
    font-size: var(--font-size16);
    font-weight: 500;
    margin-top: 20px;
    /* text-wrap: pre; */
    white-space: pre-wrap;
}

.contentValue #stack 
{ 
	display: flex;
	/* gap: 20px; */
	gap: 10px;

}
/* .stack .detail
{
  gap: 10px;
} */
/* .detail
{
    gap: 10px;
} */

.tech
{
  /* gap: 10px; */
  /* gap: 10px 0 10px 0; */
  background-color: var(--main-color);
  color: var(--color-white);
  padding: 12px 20px;
  /* margin: 0 12px; */
  margin-right: 12px;
  border-radius: 6px;
  border: none;
}

/* 지도  */
#map
{
    width: 100%;
    height:350px;
    margin-bottom: 20px;
}

.tableColumn
{
    display: flex;
    justify-content: space-between;
    /* font-size: var(--font-size14); */
    font-size: var(--font-size16);
    /* gap: 10px; */
    margin-bottom: 10px;
}

.type
{
    /* font-size: var(--font-size14); */
    font-size: var(--font-size16);
    /* font-weight: 500; */
    font-weight: 200;
}

/* 파일 업로드 */
/* .uploadResult 
{
    width: 100%;
    height: 100%;
} */

/* .uploadResult ul, .uploadResult ul li
{
    height: 100%;
} */

/* .uploadResult ul li img
{
    width: 100%;
    height: 500px;
} */

/* .company > img
{
    width: 100%;
    height: 100%;
    border-radius: 20px;
} */

/* .uploadResult > img
{
    width: 100%;
    height: 100%;
    border-radius: 20px;
} */

.fileImage 
{
    width: 100%;
    height: 100%;
}

/* .disF 
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.disN
{
    display: none;
} */

/* 
main .tabCon
{
  margin-top: 50px;
  
} */


/* main .common th,td
{
  border: 1px solid #D9D9D9;
  border-collapse : collapse;
  white-space: nowrap;
  
}

main .detail th,td
{
  border: 1px solid #D9D9D9;
  border-collapse : collapse;
  white-space: nowrap;
  
  
} */

/* 
.disB > td .modifytext
{
  border: none ;
  padding: 5px 20px;
  border-radius: 6px;
  
} */

/* td .changepw
{
  border: 1px solid #E5E5EC;
  font-size: var(--font-size14);
  padding: 5px 20px;
  border-radius: 6px;
  cursor: pointer;
}



/*    섹션    */

/* section 
{
    display: flex;
    justify-content: center;


.wrap
{
    min-width: 1200px;
    padding-bottom: 70px;
    box-sizing: border-box;
    display: flex;
}


.wrap .left .company
{
    display: flex;
    align-items: flex-start;
    margin-bottom: 32px;

}





.wrap .main
{
    display: flex;
    align-items: flex-start;
    margin-bottom: 58px;
} */


/* 서브 1 시작 */


/* .wrap .main .sub1
{
    max-width: 620px ;
    margin-right: auto;

    color: var(--color-grayblack);
    font-weight: 200;

} */

/* .introduce
{ */
  /* white-space: pre;줄바꿈을 그대로 출력 */
  /* white-space: pre-wrap;줄바꿈을 그대로 출력 */
/* } */


/* .wrap .main .sub1 .name,
{
    font-size: var(--font-size20);
    font-weight: 200;
}
.wrap .main .sub1 .title
{
    font-weight: 600;
}

.wrap .main .sub1 .locationC
{

}
.wrap .main .sub1 .title
{
    font-size: var(--font-size24);
} */


/* 서브 2 시작 */

/* .wrap .main .sub2
{
    max-width: 90px ;
}



.wrap .column
{
    display: grid; grid-template-columns: 1fr; gap: 50px; 

}

.wrap .column .columnA
{
    padding-bottom: 10px;
    border-bottom: 1px solid var(--input-gray);

}


.wrap .column .columnAA,
.wrap .column .col8 .content
{
    font-size: var(--font-size16);
    margin-top: 40px;
    
}
.wrap .column .columnBB
{
    font-size: var(--font-size16);
    color: var(--color-gray);
    margin-top: 40px;
} */


/* 지도  */
/* #map
{
    height:350px;
    margin-bottom: 20px;
}

#map > img
{
    height:350px;
    padding-left: 60px;

}



.wrap .column .columnA .title
{
    font-weight: 100;

}


.wrap .column .col7 .columnBB .comloc,
.wrap .column .col8 .comname1 .name,
.wrap .column .col8 .comname2 .name

{
    font-weight: 100;
    font-size: var(--font-size16);
    color: black;

}

.comname
{
    height: 30px;
    
    resize: none;
}
.comadress
{
    height: 30px;
    
    resize: none;
}

.cominfotext
{
    height: 20px;
    
    resize: none;
}

.detailtext
{
    height: 300px;
    resize: none;
}

.maptext
{
    height: 55px;
    resize: none;
}

.comadressyear
{
 display: flex;
}
{
    display: grid; grid-template-columns: 1fr 1fr; grid-row-gap: 16px;

}

{
    font-size: var(--font-size14);
    font-weight: 100;
    color: var(--color-black);

}
.wrap .column .col8 .comname2
{
    margin-left: auto;
}


.wrap .left
{
    max-width: 720px ;
    justify-content: left;
}*/


/* 라이트 시작 */

/* .wrap .right
{
    
    margin-left: auto;  
    min-width: 375px;
}



.wrap .right .box2,
.wrap .right .box3,
.wrap .right .box4
{
    margin-top: 10px;
    
}

.wrap .right .box2 .box,
.wrap .right .box3 .box,
.wrap .right .box4 .box
{
    margin-top: 10px;
    
    
}





.wrap .right .side
{
    align-items: flex-start;
}

.wrap .right  .box2,
.wrap .right  .box3
{
    
    border: 1px solid var(--input-gray);
    border-radius: 6px;
    padding: 20px;
    width: initial;
    display: flex;
}

.wrap .right .pos .box3
{

    justify-content: center;

    min-width: 375px;
    

}

.submit
{
  display: flex;
  justify-content: center;
  gap: 0 50px;
}

.submit .btn
{
  color: var(--color-white);
  background-color: var(--main-color);
  border: none;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: var(--font-size16);
  cursor: pointer;
  padding: 10px 20px;
  margin: 0 30px;
  width: 100px;
  
}


.wrap .right .box2 .box,
.wrap .right .box3 .m1
{
    margin-right: auto;
    color: var(--color-grayblack);
    font-weight: 200;
    max-width: 290px;
    
}

.wrap .right .box3 .m1,
.wrap .right .box3 .m2
{
    font-size: var(--font-size14);

}




.wrap  .right  .t,
.wrap .right .box2 .t1,
.wrap .right .box2 .t2,
.wrap .right .box2 .t3,
.wrap .right .box3 .p1,
.wrap .right .box4 .p1
{
    font-size: var(--font-size16);
    font-weight: 200;
}




.wrap .right .box2 .t1
{
    margin-bottom: 10px;
}
.wrap .right .box2 .t2
{
    margin-bottom: 20px;
}
.wrap .right .box2 .t3
{
    font-size: var(--font-size14);
    margin-bottom: 13px;
}
.wrap .right .boxbox
{
    margin-top: 10px;
}





.wrap .right .box3 .m1
{
    color: var(--color-grayblack);
    font-weight: 500;

}

.wrap .right .box3 .m2
{
    color: var(--color-grayblack);
    font-weight: 500;
} */



/*스택 버튼*/

/* .columnAA .detail#stack {
    gap: 20px;
    max-width: 760px;
    grid-auto-columns: (6, 1fr);
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}
.columnAA .detail .sectionConBody .Bodycon.tech 
{
  display: block;
  max-width: 100%;
  flex-wrap: wrap;
  
}

.columnAA .detail .sectionConBody .Bodycon button.tech 
{
  margin: 10px 12px 10px 0;
  border: 1px solid var(--input-gray);
  border-radius: 6px;
  padding: 12px 20px;
  width: initial;
} */

