
/* 메인 */
main 
{
  display: flex;
  justify-content: center;
  padding-top: 50px;  
  
}

main .mainContent
{
  min-width:1200px;
  display: flex;
}

main .containe
{
  width: 1200px;
}


/* 헤더밑 타이틀*/
.toptitle h3
{
  font-size: 32px;
  text-align: left;
  width: 100%;
  margin-bottom: 40px;
}   

/*필터*/

.filterall
{
  display: flex;
  font-size: var(--font-size14);
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.filters
{
	display: flex;
	justify-content: center;
}

 .filter1
{
	background-color: white;
    margin-right: 10px;
    font-size: 14px;
    padding: 4px 20px;
    cursor: pointer;
    border: 1px solid var(--input-gray);
	border-radius: 3px;
  
}
.filter2
{
  border: none;
  background-color: white;
  margin-right: 10px;
  font-size: 16px;
  cursor: pointer;
}

.custom-select {
	width: 120px;
	height: 32px;
	box-sizing: border-box;
	font-size: 14px;
	border: 1px solid var(--input-gray);
		border-radius: 3px;
		cursor: pointer;
}

.writebtn
{
  text-align: right;  
}

.wbtn
{
	background-color: var(--main-color);
	color: var(--color-white);
	border: none;
	padding: 4px 8px;
	border-radius: 4px;
	margin-left: 8px;
	cursor: pointer;
	font-size: var(--font-size14);
	width: 120px;
	height: 32px;
}


/* 탭버튼 */
main .tabWrap 
{
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

main .tabWrap .tabCon 
{
  display: flex;
  align-items: center;
  margin-right: 40px;
}

main .tabWrap .tabTitle a
{
  font-size: 16px;
  font-weight: 600;
  color: var(--color-black);
  margin-right: 12px;
}

main .tabWrap .tabNum a  
{
  font-size: 16px;
  font-weight: 600;
  color: var(--main-color);
}



/*박스*/
.disN
{
    display: none;
   
}

.disB 
{
    display: block;
    
}

.box .recent
{
  border: 1px solid #e5e5ec;
  border-radius: 8px;
  margin-bottom: 20px;
}
.box .value
{
  border: 1px solid #e5e5ec;
  border-radius: 8px;
}

.conWrap 
{
  display: flex;
  flex-direction: column;
  
}

.box 
{
  border: none; 
  justify-content: space-between;
  align-items: center;  
  border: 1px solid var(--input-gray);
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  border-radius: 6px;
  margin-bottom: 20px;
  height: 100px;
}

.box .left
{
  display: flex;
  align-items: center;
  gap: 20px;
}

.box .label 
{
  background-color: #F7F7F7;
  border: 1px solid #e5e5ec;
  padding: 8px 20px;
  border-radius: 4px;
  margin-right: 16px;
  font-size: 14px;
  width: 50px;
  text-align: center;
}

.box .job-title 
{
  font-weight: bold;
  font-size: var(--font-size24);
}

.job-option 
{
  display: flex;
  align-items: center;
  gap: 0 20px;
}

.box .dates 
{
  color: #888;
  font-size: var(--font-size14);
  margin-top: 4px;
}

.box .progress 
{
  color: #888;
  font-size: var(--font-size14);
  margin-top: 4px;
}

.box .end 
{
  color: #888;
  font-size: var(--font-size14);
  margin-top: 4px;
}

.box .right 
{
  display: flex;
  align-items: center;
  gap: 0 12px
}

.box .btn 
{
  background-color: white;
  border: none;
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
  font-size:var(--font-size14);
}

.box .listbtn 
{
  background-color: #F7F7F7;
  border: solid 1px #e5e5ec;
  padding: 7px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size:var(--font-size14);
}


.box .applicant-count {
  border: 1px solid #e5e5ec;
  background-color: #F7F7F7;
  border-radius: 4px;
  padding: 4px 8px;
  font-size: var(--font-size12);
}


.div_page
{
	text-align: center;
}
