

/* 메인 */
main 
{
  display: flex;
  justify-content: center;
  padding-top: 50px;  
}

main .mainContainer 
{
  min-width:1200px;
}

/* 프로필 : 사진 + 이름 */
main .mainContainer .memberInfo 
{
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

main .mainContainer .memberInfo img.memberImg 
{
  width:64px;
  height: 64px;
  margin-right: 20px;
}

main .mainContainer .memberInfo .memberName 
{
  font-size: var(--font-size32);
  font-weight: 600;
} 

main .mainContainer .announce
{
  display: flex;
  flex-direction: column;
  
 
}
main .mainContainer .announce img.imageAnnouncement
{
  
  width:200px;
  height: 200px;
  
  
}

main .mainContainer .announce .announce3
{
  font-size: 20px;
  text-align: center;
  margin-top: 150px;

}

main .mainContainer .announce .announce1
{
  font-size: 20px;
  color: var(--border-color-gray);
  text-align: center;
  margin-top: 10px;

}

main .mainContainer .announce .announce2
{
  font-size: 32px;
  color: var(--color-black);
  text-align: center;
  margin-top: 5PX;
}





