@font-face {
    font-family: 'Pretendard';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-style: normal;
}

* 
{
    margin:0;
    padding:0;
    list-style:none;
    font-family: 'Pretendard';
}

a
{
    text-decoration: none;
}

ul,li,ol 
{
    list-style: none;
}

table, tr, td 
{
    box-sizing: border-box;
    border-collapse: collapse;
}
