:root 
{
  /* 컬러 모음 */
  --main-color:#FFA500;
  --color-black: #111;
  --color-white: #fff;
  --color-gray: #787878;
  --input-gray: #e5e5ec;
  --button-gray: #f7f7f7;
  --border-color-gray: #dadada;
  --font-size32: 32px;
  --font-size24: 24px;
  --font-size20: 20px;
  --font-size16: 16px;
  --font-size14: 14px;
  --font-size12: 12px;
}





/*    섹션    */

section 
{
    display: flex;
    justify-content: center;

}
.wrap
{
    min-width: 1200px;
    padding: 50px 0;
    box-sizing: border-box;
    display: flex;
}
.devlist
{
    width: 1200px;
	margin-top: 90px;
}
.selectbox
{
    display: flex;
}
.personpool
{
    margin-bottom: 20px;
}
.personpool .t1
{
    font-size: var(--font-size32);
    font-weight: 500;
}
.selectbox .select .title
{
    padding-left: 20px;   
    margin: 0 0 30px 0;
    border: 1px solid var(--input-gray);
    border-radius: 10px;
    padding: 16px 20px;
    width: 1158px;
    display: flex;
}
.selectbox .icon
{
    position: absolute;
}
.selectbox .icon
{
    right: 380px;
    margin-top: 16px;
}
.filterbox
{
    display: flex;
    margin-bottom: 40px;
    align-items: center;
}
.filterbox .right
{
    /* width: initial; */
    align-items: center;
    display: flex;
    margin-left: auto;
}
.filterbox .left
{
    display: flex;
    align-items: center;
    flex-grow: 1; /* 왼쪽 영역이 가용 공간을 채우도록 설정 */
}





/*      버튼시작        */

.right .fil2
{
    margin-left: 8px;
    border: 1px solid var(--input-gray);
    background-color: var(--color-white);
    border-radius: 10px;

    width: 80px;
    height: 36px;
    cursor: pointer;
    &:hover 
    {
        background: var(--main-color);
        border: 1px solid var(--main-color);
        color: #fff;
    }
}

.left .fil2
{
    border: 1px solid var(--input-gray);
    background-color: var(--color-white);
    border-radius: 10px;

    width: 80px;
    height: 40px;
    cursor: pointer;
    &:hover 
    {
        background: var(--main-color);
        border: 1px solid var(--main-color);
        color: #fff;
    }
}

/*      버튼 끝     */





.filterbox .fil .filter .last,
.filterbox .fil2 .but1,
.filterbox .fil3 .but1,
.menutitle .company .c1,
.menutitle .location .l1
{
    font-size: var(--font-size14);
    font-weight: 300;
}



.selectbox .title
{
    font-size: var(--font-size16);
    font-weight: 300;
    width: 1200px;
    border: none;
    resize: none;
    
}

.selectbox .title
{
display:inline-block;

    
}


.selbox
{
    display: flex;
    margin-bottom: 20px;
}
.selbox .sel
{
    margin-right: 16px;
    cursor: pointer;
}
.selbox .sel .tab-btn
{
    color: var(--color-gray);
    font-size: var(--font-size14);
    font-weight: 500px;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    outline: none;
}
.selbox .sel .tab-btn.active
{
    color: var(--color-black);
}

.form-box {
    display: none;
}
.form-box.active {
    display: block;
}

    


.pplist .pp
{
    display: flex;
    align-items: center;
    height: 100px;
    border-radius: 10px;
    border: solid 1px var(--input-gray);
    margin-bottom: 20px;
    /* padding: 0 2px; */
}
/* .pplist .pp .buttbox1 .b1
{
    padding: 0 10px;
} */
.ppInfo {
    display: inline-flex;
    width: 195px;
    /* min-width: 180px;
    max-width: 180px; */
}
.pplist .pp .uploadResult img
{
    width: 64px;
    max-width: 64px;
    height: 64px;
	border-radius: 50%;
}
.pplist .tt .t1
{
    font-size: var(--font-size16);
    font-weight: 300;
}

.right,
/* .buttbox1, */
.buttbox2
{
    display: flex;
    font-size: var(--font-size14);
    /* padding: 0 2px; */
    /* width: 190px; */
    /* min-width: 180px; */
    /* max-width: 180px; */
}
.stack-item {
    display: inline-block;
    /* display: flex; */
    /* flex-direction: row; */
    font-size: var(--font-size12);
    padding: 8px 20px;
    border: 1px solid var(--border-color-gray);
    border-radius: 5px;
    color: var(--color-gray);
    background-color: var(--button-gray);
    /* margin: 0 4px; */
    margin-right: 10px;
}
.job-item {
    display: inline-block;
    /* display: flex; */
    /* flex-direction: row; */
    font-size: var(--font-size12);
    padding: 8px 20px;
    border: 1px solid var(--border-color-gray);
    border-radius: 5px;
    color: var(--color-gray);
    background-color: var(--button-gray);
    /* margin: 0 4px; */
    margin-right: 10px;
}
.buttbox2 .b2 .view_resume
{
    font-size: var(--font-size14);
    padding: 8px 20px;
    border:1px solid var(--border-color-gray);
    border-radius: 5px;
    color: var(--color-gray);
    background-color: var(--button-gray);
    cursor: pointer;
}
.buttbox2 .b2 .view_resume:hover
{
    color: var(--color-white);
    background-color: var(--main-color);
    border: solid 1px var(--main-color);
}
.buttbox2 .b2 .proposalbutt
{
    font-size: var(--font-size14);
    padding: 8px 20px;
    border:1px solid var(--main-color);
    border-radius: 5px;
    color: var(--color-gray);
    background-color: var(--color-white);
    cursor: pointer;
}
.buttbox2 .b2 .proposalbutt:hover
{
    color: var(--color-white);
    background-color: var(--main-color);
}
.buttbox2 .b2 .proposalbutt:disabled
{
    color: var(--color-white);
    background-color: var(--main-color);
}


.right
{
    margin-left: auto;
}
.pplist .right
{
    margin-right: 20px;
}
.right .buttbox2 .b2,
.right .date .d1
{
    margin-left: 10px;
    font-size: var(--font-size12);
    font-weight: 300;
}
.right .date .d1
{
    margin-left: 16px;
}
.pplist .pp .imgbox,
.pplist .pp .tt,
.pplist .pp .buttbox1
{
    margin-left: 20px;
}
/* .pplist .pp .buttbox1 .b1
{
    margin-right: 12px;
} */
.sbox .select1, .sbox1 .select1, .sbox2 .select1
{
    width: 240px;
    height: 36px;   
    border-radius: 10px;
    border: solid 1px var(--input-gray);
    padding: 0 15px;
    font-size: var(--font-size14);
    font-weight: 200;
    margin-right: 14px;
    text-justify: auto;
    cursor: pointer;
}





/*      페이징커스텀        */

.div_page 
{
	margin-top: 40px;	
}

.div_page ul 
{
	display: flex;
    align-items: center;
    justify-content: center;	
	gap: 0 20px;
}

.paginate_button 
{
	text-decoration: none;
	padding: 8px 14px;
	border-radius: 6px;
}
.paginate_button a 
{
	color: #111;
}





/*      팝업창 스타일       */

.popup {
    position: fixed;
    /* z-index: 1; */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* width: 100vw; */
    /* height: 100vh; */
    /* overflow: auto; */
    background-color: rgba(0, 0, 0, 0.5); /* 약간 어두운 배경 */
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
}
/* 팝업창 내용 */
.popup-content {
    position: absolute;
    transform: translate(-50%,-50%);
    background-color: #fff;
    /* margin: auto; */
    padding: 8px 15px 8px 25px;
    width: 450px; /* 팝업창 너비 */
    height: 640px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
    border-radius: 10px;
    top: 50%; /* 부모 요소에서 수직 중앙 */
    left: 50%; /* 부모 요소에서 수평 중앙 */
    /* margin: 0; */
}
/* 닫기 버튼 */
.close {
    color: var(--color-gray);
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    text-align: right;
    /* margin-top: 0; */
}
.close:hover,
.close:focus {
    color: var(--main-color);
    text-decoration: none;
    cursor: pointer;
}
/* 입력 폼 스타일 */
.popup-content form {
    display: flex;
    flex-direction: column;
    /* margin: 0%; */
    margin-top: 0;
}
/* 텍스트 스타일 */
.popup-content div {
    margin-top: 20px;
    margin-bottom: 20px;
    /* margin-left: 0; */
    /* margin-right: 0; */
}
.popup-content div p{
    padding: 2px 0;
}
.popup-content form .popTitle {
    margin-top: 10px;
    margin-bottom: 15px;
}
.popup-content hr {
    border: none; /* 기본 테두리 제거 */
    height: 1px; /* 높이를 1px로 설정 */
    background-color: var(--border-color-gray); /* 배경색을 지정 */
    margin: 0; /* 수직 여백 제거 */
    width: 100%;
}
/* 제목 스타일 */
.popup-content h3 {
    /* margin-top: 10px; */
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: bold;
}
.popup-content input[type="text"],
.popup-content textarea {
    width: 100%;
    height: 180px;
    /* height: auto; */
    border: none;
    resize: none;
    font-size: var(--input-tab-size);
    /* margin-top: 20px; */
    /* margin-bottom: 20px; */
}
.popup-content .NoticeTitle {
    width: 100%;
    height: 36px;   
    border-radius: 5px;
    border: solid 1px var(--input-gray);
    padding: 0 15px;
    font-size: var(--font-size14);
    font-weight: 200;
    margin-right: 14px;
    text-justify: auto;
    cursor: pointer;
}
.popup-content input[type="submit"] {
    background-color: var(--color-white);
    border: solid 1px var(--color-gray);
    color: var(--color-black);
    font-size: var(--font-size14);
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    height: 40px;
    width: 25%;
    margin: auto;
    /* margin-bottom: 0; */
    /* text-align: center; */
    /* align-items: center; */
}
.popup-content input[type="submit"]:hover {
    background-color: var(--main-color);
    color: var(--color-white);
    border: solid 1px var(--main-color);
}


