:root 
{
  /* 컬러 모음 */
  --main-color:#FFA500;
  --color-black: #111;
  --color-white: #fff;
  --color-gray: #787878;
  --input-gray: #e5e5ec;
  --button-gray: #f7f7f7;
  --border-color-gray: #dadada;
  --font-size48: 48px;
  --font-size32: 32px;
  --font-size24: 24px;
  --font-size20: 20px;
  --font-size16: 16px;
  --font-size14: 14px;
  --font-size12: 12px;
}
/* header  */
header 
{   
    height: 90px;
    border-bottom: 1px solid var(--border-color-gray);
}

.headerInner 
{
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    align-items: center;
    height: 100%;
}

.headerInner h5.logo 
{
    margin-right: 40px;
    width: 120px;
    height: 40px;
    display: flex;
    align-items: center;
}

.headerInner ul.menu 
{
    display: flex;
    align-items: center;
    height: 100%;
    gap:40px;
}

.headerInner ul.menu li, .headerInner ul.rightMenu li 
{
    padding: 10px 20px;
}

.headerInner ul.menu li a, .headerInner ul.rightMenu li a 
{
    font-size: var(--font-size14);
    color: var(--color-black);
    font-weight: 500;
}

.rightMenu 
{
    margin-left: auto;
    display: flex;
}

.headerInner ul.rightMenu li:first-child 
{
    margin-right:40px;
}


/* main */


main .banner
{
    display: flex;
    justify-content: center;
	height: 600px;
	padding-top: 90px;	
	background-color: #050505;
}

main .mainBanner
{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*padding: 40px 300px;*/
	/*background-image: url(../images/mainBg.svg);*/
/*	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;*/	
	min-width: 1200px;
	position: relative;
}

main .mainBanner .content
{
    width: 490px;
}

h5.comTitle 
{
	font-size: 16px;
	color: #fff;
	font-weight: 300;
	margin-bottom: 12px;
}
main .mainBanner .mainTitle
{
    font-size: var(--font-size48);
	text-wrap: nowrap;
	color: #fff;
	line-height:56px;
	font-weight: 500;
	margin-bottom: 32px;
}

main .mainBanner .descText
{
    font-size: 18px;
	color: #fff;
	font-weight: 100;
	line-height:24px;
	margin-bottom: 4px;
}

.cubeWrap 
{
	background-color: #050505;
    display: flex;
    justify-content: center;
    align-items: center;
	position: absolute;
}

.cubeWrap.one 
{
	top:20%;
	right: 30%;
    animation: colorChange 4s linear infinite;
}

.cubeWrap.two 
{
	bottom:30%;
	right:10%;
    animation: colorChange2 4s linear infinite;
}

/* 메인베너 애니메이션 큐브 */
@keyframes colorChange 
{
    0% 
    {
        filter: hue-rotate(270deg);
    }
    50% 
    {
        filter: hue-rotate(360deg);
    }    
}

@keyframes colorChange2 
{
    0% 
    {
        filter: hue-rotate(180deg);
    }
    50% 
    {
        filter: hue-rotate(270deg);
    }
    100% 
    {
		filter: hue-rotate(360deg);
    }
}

.cube 
{
    position: relative;
    width: 200px;
    height: 50px;
    transform-style: preserve-3d;
    animation: animate 4s linear infinite;
}

@keyframes animate 
{
    0%
    {
        transform: rotateX(-30deg) rotateY(0deg);
    }
    100%
    {
        transform: rotateX(-30deg) rotateY(360deg);
    }

}

.cube .box 
{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}

.cube .box span 
{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(21,21,25,1),rgba(255,6,6,1));
    transform-style: preserve-3d;
    transform: rotateY(calc(90deg * var(--i))) translateZ(100px);
}

.top 
{
    position: absolute;
    top:0;
    left:0;
    width: 200px;
    height: 200px;
    background: #222;
    transform-style: preserve-3d;
    transform: rotateX(90deg) translateZ(100px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.top i 
{
    position: absolute;
    font-size: 160px;
    color: rgba(255,6,6,1);
    text-shadow: 0 0 50px rgba(255,6,6,0.25),
    0 0 100px rgba(255,6,6,0.5),
    0 0 200px rgba(255,6,6,0.75),
    0 0 300px rgba(255,6,6,1);
}

.top::before 
{
    content:'';
    position: absolute;
    top:0;
    left:0;
    width: 200px;
    height: 200px;
    background: rgba(255,6,6,1);
    transform:translateZ(-125px);
    opacity: 0.4;
    box-shadow: 0 0 120px rgba(255,6,6,0.2),
    0 0 200px rgba(255,6,6,0.4),
    0 0 300px rgba(255,6,6,0.6),
    0 0 400px rgba(255,6,6,0.8),
    0 0 500px rgba(255,6,6,1);
}

/* 애니메이션 큐브 끝 */
main .subtitle
{
    justify-content: center;
    font-size: var(--font-size24);
    font-weight: bold;
}

main .innerCon
{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 150px;
}
main .innerCon .sectionA,
main .innerCon .sectionB,
main .innerCon .sectionC
{
    margin-bottom: 150px;
}


main .innerCon .sectionName
{
    display: flex;
    margin-bottom: 25px;

}

main .innerCon .sectionName .more
{
    margin-left: auto;
    padding: 5px 10px;
    /* min-width: 24px; */
    border: none;
    color: var(--color-black);
}

main .innerCon .sectionName .more:hover 
{
	color: var(--main-color);
}

main .innerCon .moreView
{
    margin-left: auto;
    color: var(--color-black);
}

main .sectionA,
main .sectionB,
main .sectionC
{
    max-width: 1200px;
}

main .sectionA .cardPost
{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    display: grid;
    gap: 40px;
}

main .sectionA .cardPost .con .image:hover
{
    transform: scale(1.1);
	transition: all 2s;
}

main .sectionA .cardPost .con .image
{
    width: 270px;
    height: 220px;
    background-color: #f7f7f7;
    border-radius: 10px;
    margin-bottom: 20px;
	box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

main .sectionA .cardPost .postSub .category
{
    color: #777;
    font-size: var(--font-size16);
	margin-bottom: 4px;
}

main .sectionA .cardPost .postSub .name
{
    color: var(--color-black);
    font-size: var(--font-size20);
    /* margin-bottom: 120px; */
}

main .sectionB .themaCon
{
    display: flex;
    gap: 40px;
}

main .sectionB .themaCon .sectionName
{
    margin-top: 20px;
    margin-bottom: 0px;
    padding-bottom: 34px;
    border-bottom: solid 1px var(--border-color-gray);
}

main .sectionB .themaCon .postThema
{
    display: flex;
    width: 370px;
    height: 593px;
    /* gap: 40px; */
    border: 1px solid var(--border-color-gray);
    border-radius: 5px;
    flex-direction: column;
    padding: 24px;
}

main .sectionB .themaCon .postThema .themaSection .one
{
    display: block;
    align-content: center;
}

main .sectionB .themaCon .postThema .themaSection .one .data:hover
{
    background-color: #FFF6E6;
    border: none;
}
main .sectionB .themaCon .postThema .themaSection .one .data
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 325px;
    padding: 0 24px;
    box-sizing: border-box;
}

main .sectionB .themaCon .postThema .themaSection .one .data .number
{
    font-size: var(--font-size24);
    margin-left: 0;
}

main .number
{
    color: var(--color-black);
}

main .first-item .number
{
    color: var(--main-color);
}

main .sectionB .themaCon .postThema .themaSection .one .data .name
{
    margin-left: 24px;
}
main .sectionB .themaCon .postThema .themaSection .one .data .conSub
{
    font-size: var(--font-size12);
    color: var(--color-black);
}

main .sectionB .themaCon .postThema .themaSection .one .data .conTitle
{
    margin-left: auto;
    font-size: var(--font-size20);
    color: var(--color-black);
}

main .dDay
{
    margin-left: auto;
    font-size: var(--font-size20);
    color: var(--main-color);
}

main .subBanner
{
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
	background-image: url(../images/sub_banner2.svg);
	background-position: center;
	background-size:100% 100%;
	background-repeat: no-repeat;
}

main .subBanner .content .bannerTitle
{
    font-size: var(--font-size32);
    margin-bottom: 25px;
    color: var(--color-white);
    font-weight: 400;
	text-shadow: 0 0 rgba(0, 0, 0, 0.7);
}
main .subBanner .content .bannerSubTitle
{
    font-size: var(--font-size16);
    text-align: center;
    color: var(--color-white);
	font-weight: 200;
	text-shadow: 0 0 rgba(0, 0, 0, 0.4);
}

main .sectionC .postSection
{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    display: grid;
    gap: 40px;
}

main .postSection .a
{
    width: 270px;
    height: 98px;
    border: 1px solid var(--border-color-gray);
    display: flex;
    align-items: center;

}

main .postSection .a .conImage
{
    width: 48px;
    height: 48px;
    background-color: var(--color-gray);
    margin: 0 10px;
}

main .postSection .a .conProfile .conTitle
{
    font-size: var(--font-size16);
}

main .postSection .a .conProfile .conSec
{
    font-size: var(--font-size12);
    color: var(--color-gray);
}

main .postSection .a .more
{
    padding: 5px 7px;
    border: var(--border-color-gray);
    font-size: var(--font-size12);
    background-color: none;
    border-radius: 3px;
    margin-left: auto;
    margin-right: 12px;
}

.con .uploadResult img
{
    width: 270px;
    height: 220px;
    border-radius: 10px;
}

.a .uploadResult img
{
    width: 48px;
    height: 48px;
}




/* Footer */
footer 
{
    padding:50px 0;
    border-top: 1px solid var(--border-color-gray);
}

.footerInner 
{
    margin:0 auto;
    max-width: 1200px;
    display: flex;    
}

.footerInner .f_conWrap 
{
    width: 50%;
}

.footerInner .left_conWrap .textWrap 
{
    font-size: var(--font-size14);
    line-height: 24px;
    margin-top: 20px;
} 

.footerInner .right_conWrap 
{
    text-align: right;
}

.footerInner .right_conWrap .textWrap 
{
    font-size: var(--font-size14);
    line-height: 24px;
}

.footerInner .right_conWrap h3
{
    font-size:var(--font-size24);
    font-weight: 500;
    color: #222;
    margin-bottom: 20px;
}