:root 
{
	/* 컬러 모음 */
	--main-color:#FFA500;
	--color-black: #111;
	--color-white: #fff;
	--color-gray: #787878;
	--input-gray: #e5e5ec;
	--button-gray: #f7f7f7;
	--border-color-gray: #dadada;
	--font-size32: 32px;
	--font-size24: 24px;
	--font-size16: 16px;
	--font-size14: 14px;
	--font-size12: 12px;
}

.snsContainer 
{
	display: flex;
}

.sns_nav
{
	z-index: 10;
}

a {
	color : var(--color-black);
}
a:visited {
	color : var(--color-black);
}

/* 네비게이션 */
.navigation
{
	/* position:relative; */
	position:fixed;
	width: 260px;
	min-height: 100vh;
	background: #fff;
	overflow: hidden;
	/*box-shadow: 0 5px 15px rgba(0,0,0,0.2);*/
	transition: 0.5s;
	padding: 1rem 0;
	border-right: 1px solid var(--input-gray);
}

.navigationTwo
{
	position:relative;
	width: 80px;
	min-height: 100vh;
	background: #fff;
	overflow: hidden;
	/*box-shadow: 0 5px 15px rgba(0,0,0,0.2);*/
	transition: 0.5s;
	padding: 1rem 0;
	border-right: 1px solid var(--input-gray);
	}

/* 로고 */

.navigation .logo
{
	list-style:none;
	padding: 30px 20px;
}

.navigationTwo .logo
{
	list-style:none;
	padding: 28.5px 20px;
}

.navigation .logo a {
	color: var(--main-color);
	position: relative;
	width: 100%;
	display: flex;
	text-decoration: none;
	font-weight: 600;
}

/* 메뉴 */

.navigation .navMenu {
	position: relative;
	height: calc( 100vh - 163px);
}

.navigation ul
{
	position: absolute;
	top:0;
	left:0;
	width: 100%;
}

.navigation ul li
{
	position:relative;
	list-style:none;
	width: 100%;
}

.navigation ul li.active
{
	background:rgba(255,165,0,0.3);
}

.navigation ul li a
{
	position:relative;
	display:block;
	width: 100%;
	display:flex;
	color: var(--color-black);
	font-weight: 500;
	font-size: 16px;
}

.navigation ul li a .icon
{
	position: relative;
	display:block;
	min-width: 80px;
	height:60px;
	line-height: 60px;
	text-align: center;
}

.navigation ul li a .icon i
{
	font-size: var(--font-size24);
}

.navigation ul li a .title
{
	position:relative;
	display:block;
	height: 60px;
	line-height: 60px;
	white-space: nowrap;
}


.navigationTwo .navMenu {
	position: relative;
	height: calc( 100vh - 163px);
}

.navigationTwo ul
{
	position: absolute;
	top:0;
	left:0;
	width: 100%;
}

.navigationTwo ul li
{
	position:relative;
	list-style:none;
	width: 100%;
}

.navigationTwo ul li.active
{
	background:rgba(255,165,0,0.3);
}

.navigationTwo ul li a
{
	position:relative;
	display:block;
	width: 100%;
	display:flex;
	color: var(--color-black);
	font-weight: 500;
	font-size: 16px;
}

.navigationTwo ul li a .icon
{
	position: relative;
	display:block;
	min-width: 80px;
	height:60px;
	line-height: 60px;
	text-align: center;
}

.navigationTwo ul li a .icon i
{
	font-size: var(--font-size24);
}

/* .navigationTwo ul li a .title
{
	position:relative;
	display:block;
	height: 60px;
	line-height: 60px;
	white-space: nowrap;
} */

.navigationSNS , .navigationChat
{
	display: none; 
	/* position: absolute;  */
	position: fixed; 
	top: 0;
	left: 0; 
	z-index: 10; 
}

.navigationSNS .navSearch , .navigationChat .navChat
{
	position:relative;
	width: 400px;
	min-height: 100vh;
	background: #fff;
	overflow: hidden;
	/*box-shadow: 0 5px 15px rgba(0,0,0,0.2);*/
	transition: 0.5s;
	padding: 1rem 0;
	border-right: 1px solid var(--input-gray);
	border-radius: 0 15px 15px 0;
}

.navigationSNS .searchBox
{
	height: 150px;
	border-bottom: 1px solid var(--input-gray);
}

.navigationSNS .searchBox h3
{
	font-size: 24px;
	padding: 20px 30px;
}

.searchInputBox 
{
    position: relative; 
    display: inline-block; 
}

.searchInputBox input 
{
    width: 314px;
	height: 40px;
	border-radius: 6px;
	margin: 10px 20px;
	padding-left: 16px;
    padding-right: 30px; 
    border: 1px solid var(--border-color-gray);
	outline: none;
}

.navSearch .searchBox .xIcon 
{
    position: absolute; 
    right: 36px; 
    top: 50%; 
    transform: translateY(-50%); 
    cursor: pointer; 
}

.navSearch .searchBox .xIcon i 
{
    font-size: 16px; 
    color: var(--color-gray); 
}

.navSearch .searchResultBox
{
	overflow: auto;
    max-height: 660px;
    overflow-x: hidden;
}

.searchResult
{
	display: flex;
	align-items: center;
	margin: 30px;
}

.searchResult .UserImage img
{
	max-width: 53px;
	max-height: 53px;
	min-width: 53px;
	min-height: 53px;
	border-radius: 50%;
}

.searchResult .nameBox
{
	margin: 18px;
}

.searchResult .nameBox h4
{
	font-size: var(--font-size14);
	margin-bottom: 2px;
}
.searchResult .nameBox h5
{
	font-size: var(--font-size12);
	margin-top: 2px;
	color: var(--color-gray);
}

.searchResult .right
{
	margin-left: auto;
}

/* .searchResult .right button
{
	width: 58px;
	height: 30px;
	border-radius: 6px;
	background-color: var(--main-color);
	border: 1px var(--main-color);
	color: white;
	font-size: var(--font-size12);
	cursor: pointer;
} */

.navChat .chatTitleBox
{
	height: 88px;
	border-bottom: solid 1px var(--border-color-gray);
}

.navChat .chatTitleBox h3
{
	font-size: 24px;
    padding: 20px 30px;
}

.chatName h5
{
	font-size: var(--font-size16);
	font-weight: 400;
	margin: 24px;
}

.chatContent
{
	display: flex;
	align-items: center;
	margin: 30px;
}

.chatContent .UserImage img
{
	max-width: 53px;
	max-height: 53px;
	min-width: 53px;
	min-height: 53px;
}

.chatContent .nameBox
{
	margin: 18px;
}

.chatContent .nameBox h4
{
	font-size: var(--font-size14);
	margin-bottom: 2px;
}

.chatContent .nameBox .chatMessage
{
	display: flex;
}
.chatContent .nameBox h5
{
	font-size: var(--font-size12);
	margin-top: 2px;
	color: var(--color-gray);
	font-weight: 400;
}

.chatContent .nameBox .chatMessage .chatTime
{
	margin-right: 0;
	margin-left: 12px;
}

/* CSS 스타일 추가 */
.modal 
{
    display: none; /* 초기에는 숨김 */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5); /* 반투명 배경 */
    justify-content: center;
    align-items: center;
}

.modal .popupBox 
{
    background-color: #fff;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 480px;
    border-radius: 15px;
}

.popupBox
{
	width: 480px;
	height: 670px;
	border: 1px solid var(--border-color-gray);
	border-radius: 15px;
}

.modal .popupBox .wrtieBox
{
	display: flex;
	flex-direction: column;
	height: 670px;
}

.popupBox .boxButton
{
	display: flex;
	justify-content: space-between;
	margin: 24px 30px;
}
.popupBox .boxButton input
{
	background: none;
    border: none;
	font-weight: 400;
	font-size: var(--font-size16);
	color: var(--color-gray);
	cursor: pointer;
}

.popupBox .boxButton .postButton
{
	color: var(--main-color);
	font-weight: 400;
	font-size: var(--font-size16);
	cursor: pointer;
}

.popupBox .boxTitle
{
	display: flex;
	align-items: center;
}

.popupBox .boxTitle .loginUserImg img
{
	max-width: 40px;
	max-height: 40px;
	min-width: 40px;
	min-height: 40px;
	margin: 0px 30px;
	border-radius: 50%;
}

.popupBox .boxTitle .titleContent input
{
	border: none;
	outline: none;
	width: 320px;
	height: 40px;
	font-size: var(--font-size14);
}

.popupBox .uploadImage input
{
	display: none;
}

.popupBox .uploadImage .uploadFile
{
	display: flex;
	align-items: center;
	margin: 20px 36px 0px 36px;
	padding: 0 0 20px 0;
	cursor: pointer;
	border-bottom: solid 1px var(--border-color-gray);
}

.popupBox .uploadImage .uploadFile .icon
{
	font-size: 24px;
}

.popupBox .uploadImage .uploadFile h5
{
	font-weight: 400;
	font-size: var(--font-size14);
	margin-left: 12px;
}

.popupBox .uploadImage .imgDelete
{
	font-size: var(--font-size16);
    color: var(--color-black);
    display: flex;
    justify-content: right;
}

.popupBox .uploadImage .uploadResultPost
{
	display: flex;
	margin: 12px 0 0 20px;
}

.popupBox .uploadImage .uploadResultPost img
{
	max-width: 430px;
	max-height: 280px;
	min-width: 430px;
	min-height: 280px;
	border-radius: 6px;
}

.popupBox .boxContent
{
	height: 100%;
}

.popupBox .boxContent textarea
{
	border: none;
	outline: none;
	width: 400px;
	/* height: 400px; */
	height: 90%;
	font-size: var(--font-size14);
	margin: 20px 40px;
	resize: none;
}

body.body-no-scroll 
{
    overflow: hidden;
}

/* 네비게이션 옆 컨텐츠 영역 */
.snsContent 
{
	/* width: calc( 100% - 260px); */
	width: 100%;
	min-height: 100vh;
}

.snsContainer .snsContent main
{
	margin: 90px 480px 0;
}