* 
{
    margin:0;
    padding:0;
}

section.snsCompanyPage 
{
    position: relative;
    width: 1200px;
    margin-left: 360px;
    display: flex;
    justify-content: center;
}

.bgH
{
    background-color: #BFFD9F;
    width: 100%;
    height: 300px;
    position: absolute;
    top:0;
    left:0;
    z-index: -9;
}

.contentWrap 
{
    width: 100%;
    padding: 140px 40px 40px 40px;
    display: flex;
    gap: 0 40px;
}

.content.profile 
{
    display: flex;
    background-color: #fff;
    border: 1px solid #e5e5ec;
    flex-direction: column;
    border-radius: 6px;
    width: 240px;
    height: auto;
}

.profileInfo 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top:40px;
    
}

.profileInfo .image
{
    width: 90px;
    height: 90px;
    background-size: cover;
    border-radius: 50%;
    margin-bottom: 20px;
}

.profileInfo .img
{
    width: 90px;
    height: 90px;
    background-size: cover;
    border-radius: 50%;
    margin-bottom: 20px;
}

.profileInfo .name 
{
    font-size: 20px;
    color: #111;
}
.com_content
{
    padding: 20px;
}

.profileInfo .job 
{
    margin-top: 8px;
    font-size: 12px;
    color: #999;
    margin-bottom: 20px;
}

.profileInfo textarea
{
    height: 60px;
}

.profileInfo button.following, .estimatePortfolio 
{
    padding:8px 20px;
    border: 1px solid #e5e5ec;
    font-size: 14px;
    background:#fff;
    border-radius: 6px;
    margin: 20px;
    cursor: pointer;
}

.profileInfo button.following:hover , .estimatePortfolio:hover 
{
    background:#FFA500;
    color: #fff;
    border: 1px solid #FFA500;
} 

.profileCon 
{
    padding: 20px;
    /* border-top: 1px solid #e5e5ec; */
}

.profileCon .profileCon.follower
{
    border-top: 1px solid #e5e5ec;
    border-bottom: 1px solid #e5e5ec;
}

.profileCon, .follow 
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.follow 
{
    gap: 10px;
}

.positionWrap 
{
    text-align: right;
}

.proflieConTitle 
{
    font-weight: 400;
}

.proflieConTitle, .positionWrap h3 
{
    font-size: 14px;
    font-weight: 600;
}

.content.info 
{
    border: 1px solid #e5e5ec;
    flex-direction: column;
    border-radius: 6px;
    width: 840px;
    background-color: #fff;    
}

.content.info .tabWrap 
{
    padding: 0 40px;
    display: flex;
    gap: 0 40px;
    border-bottom: 1px solid #e5e5ec;
}

.content.info .tabWrap .tab 
{
    font-size: 14px;
    /* cursor: pointer; */
    padding: 18px 20px;
    min-width: 80px;
    text-align: center;
    border-bottom: 4px solid #FFA500;
}
/* 
.content.info .tabWrap .tab.active
{
} */

.contentInfoWrap 
{
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 40px 0;
}

#resumeSelect 
{
    padding: 8px 20px;
    border: 1px solid #e5e5ec;
    width: 200px;
}

.content.info .infoConWrap 
{
    border: 1px solid #e5e5ec;
    padding: 40px 40px 0 40px;
    border-radius: 6px;
}

.infoConWrapTitle 
{
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 20px;
    border-bottom: 1px solid #999;
}

.infoCon 
{
    padding: 20px 0;
}

.infoConImg 
{
    width: 32px;
    height: 32px;
    background-color: gray;
    border-radius: 50%;
}

.infoCon 
{
    display: flex;
    gap:0 12px;
    align-items: center;
}

.infoConSubTitleWrap 
{
    display: flex;
    gap:0 12px;
    color: #999;
    font-weight: 300;
    align-items: center;
}

.infoConTitle 
{
    font-size: 16px;
    color: #111;
    font-weight: 600;
    margin-bottom:4px;
}

.infoConPosition, .infoConCareer 
{
    font-size: 12px;
    color: #999;
    font-weight: 400;
}

.estimatePortfolio 
{
    margin-left: auto;
    margin-top: 0;
}

.content.profile a.detailPage
{
    padding:8px 20px;
    border: 1px solid #e5e5ec;
    font-size: 14px;
    background:#fff;
    border-radius: 6px;
    /* margin-top: 20px; */
    cursor: pointer;
    text-decoration: none;
    color: #111;
    width: 80px;
    height: 25px;
    font-size: 14px;
    /* text-align: center; */
    margin: 0px 60px 10px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.content.profile a.detailPage:hover
{
    background:#FFA500;
    color: #fff;
    border: 1px solid #FFA500;
} 

.contentInfoWrap, .contentBoard
{
    display: none;
}

.contentInfoWrap.active, .contentBoard.active 
{
    display: flex;
    flex-direction: column;
}

.contentBoardWrap button.writing
{
    padding:8px 20px;
    border: 1px solid #e5e5ec;
    font-size: 14px;
    background:#fff;
    border-radius: 6px;
    margin-top: 20px;
    cursor: pointer;
    margin-left: auto;
}

.contentBoardWrap button.writing:hover
{
    background:#FFA500;
    color: #fff;
    border: 1px solid #FFA500;
} 

.contentBoardWrap .img
{
    width: 36px;
    height: 36px;
    background-image: url(../n.png);
    background-size: cover;
    border-radius: 50%;
}

.contentBoardWrap
{
    display: flex;
    padding: 20px 100px 50px;
    gap: 20px;
    flex-direction: column;
}

/* .boardProCon
{
    width: 640px;
    display: flex;
    gap: 0 20px;
    align-items: center;
    font-size: 18px;
    position: relative;
}

#boardEdit
{
    display: flex;
    margin-left:auto;
}

.boardContent
{
    border-bottom: 1px solid #999;
    padding-bottom: 16px;
    font-size: 16px;
}

.boardContent .boardImg
{
    width: 640px;
    height: 450px;
    background-image: url(../n2.jpg);
    margin-bottom: 16px;
}

.boardIcon
{
    display: flex;
    align-items: center;
}

.left_icon
{
    display: flex;
    gap: 16px;
}

.right_icon
{
    margin-left: auto;
}

.boardWriter 
{
    font-size: 18px;
    margin-bottom: 0;
    font-weight: 500;
} */

.right span.icon 
{
    margin-left: auto;
    cursor: pointer;
}

.option 
{
    position: absolute;
    right: 30px;
    padding: 0;
    background: #fff;
    box-sizing: border-box;
    border-radius: 6px;
    box-shadow: 0px 6px 16px rgba(0,0,0,0.3);
    opacity: 0;
}

.option.active 
{
    opacity: 1;
}

.option h5
{
    padding: 8px 20px;
    text-wrap:nowrap;
    min-width:100px;
    margin-bottom:0;
}

.option h5:hover 
{
    background:#FFA500;   
    color:#fff;
}

.option h5:first-child 
{
    border-bottom: 1px solid #dbdbdb;
    border-radius: 6px 6px 0 0;
}

.option h5:last-child 
{
    border-bottom: 1px solid #dbdbdb;
    border-radius: 0 0 6px 6px;
}

.option h5
{
    color: #111;
    font-size: 14px;
}

.contentBoard .detailBox
{
	margin: 0 10px 80px;
	width: 600px;
}

.contentBoard .detailBox .userBox
{
	display: flex;
	align-items: center;
}

.contentBoard .detailBox .userBox .UserImage img
{
	width: 36px;
	height: 36px;
	border-radius: 50%;
	cursor: pointer;
}

.userBox .nameBox .nana
{
	font-weight: 500;
	font-size: 18px;
	margin-left: 10px;
}

.contentBoard .detailBox .userBox .right
{
	margin-left: auto;
}

.contentBoard .detailBox .userBox .right button
{
	width: 58px;
	height: 30px;
	border-radius: 6px;
	background-color: var(--color-white);
	border: solid 1px var(--border-color-gray);
	color: var(--color-black);
	font-size: var(--font-size12);
	cursor: pointer;
    margin-right: 10px;
}

.contentBoard .detailBox .detailContent
{
	text-align: center;
}

.contentBoard .detailBox .detailContent .mainGetResult
{
	text-align: center;
}

.contentBoard .detailBox .detailContent .mainGetResult img
{
	width: 600px;
	height: 360px;
	border-radius: 6px;
	margin-top: 12px;
}

.contentBoard .detailBox .detailContent .detailTitle
{
	text-align: left;
    margin: 12px 0 0px 4px;
    font-size: var(--font-size16);
}

.contentBoard .detailBox .detailContent textarea
{
	width: 600px;
	height: 120px;
	font-size: var(--font-size14);
	font-weight: 400;
	margin: 12px 4px;
	resize: none;
	border: none;
	outline: none;
}

.contentBoard .detailBox .iconBox
{
	display: flex;
	border-top: solid 1px var(--border-color-gray);
	padding: 12px 12px 12px 8px
}

.contentBoard .detailBox .iconBox .icon,
.contentBoard .detailBox .iconBox .commentIcon
{
	font-size: var(--font-size24);
	margin-right: 16px;
	cursor: pointer;
}

.contentBoard .detailBox .iconBox h5
{
	margin-left: auto;
	color: var(--color-gray);
}

.contentBoard .rightCon
{
	margin: 80px;
	display: flex;
	flex-direction: column;
}

.contentBoard .rightCon h5
{
	color: var(--color-gray);
	font-size: var(--font-size14);
}

.contentBoard .rightCon .profile
{
	margin-bottom: 12px;
}

.contentBoard .rightCon .userBox
{
	display: flex;
	align-items: center;
	width: 240px;

}

.contentBoard .rightCon .userBox .uploadResult img
{
	width: 40px;
	height: 40px;
	cursor: pointer;
}

.contentBoard .rightCon .userBox .nameBox
{
	margin: 18px;
}

.contentBoard .rightCon .userBox .nameBox h4
{
	font-size: var(--font-size14);
	cursor: pointer;
}

.contentBoard .rightCon .userBox .nameBox h5
{
	font-size: var(--font-size12);
	color: var(--color-gray);
}

.contentBoard .rightCon .userBox .right
{
	margin-left: auto;
}

.contentBoard .rightCon .userBox .right button
{
	width: 58px;
	height: 30px;
	border-radius: 6px;
	background-color: var(--main-color);
	border: solid 1px var(--main-color);
	color: var(--color-white);
	font-size: var(--font-size12);
	cursor: pointer;
}

.contentBoard .rightCon .more
{
	margin-left: auto;
	margin-top: 8px;
	cursor: pointer;
}

.detailBox .userBox .UserImage img
{
	width: 36px;
	height: 36px;
	border-radius: 50%;
	cursor: pointer;
}

 .detailBox .userBox .nameBox h4
{
	margin: 18px;
	font-size: var(--font-size14);
	cursor: pointer;
}

 .detailBox .userBox .right
{
	margin-left: auto;
}

 .detailBox .userBox .right button
{
	width: 58px;
	height: 30px;
	border-radius: 6px;
	background-color: var(--color-white);
	border: solid 1px var(--border-color-gray);
	color: var(--color-black);
	font-size: var(--font-size12);
	cursor: pointer;
	
	&:hover 
	{
	    background: var(--main-color);
	    color: #fff;
		border: solid 1px var(--main-color);
	}
	
}

 .detailBox .detailContent
{
	text-align: left;

	display: flex;
	flex-direction: column;
	justify-content:space-between;
}
 .detailBox .detailContent .snsn {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: calc(1.2em * 5); /* 5줄 정도의 높이로 제한 */
    word-break: break-word;

	
	
	font-weight: 300;
	font-size: 16px;
	margin-top: 10px;
    text-align: left;


	
}

/* "더보기" 버튼 스타일링 */
 .detailBox .detailContent .more-btn {
    display: none; /* 기본적으로 숨김 */
	color: var(--color-gray);
    background: none;
    border: none;
    cursor: pointer;
    font-weight: 500;
    margin-top: 8px;
    margin-left: auto;
    margin-right: 12px;
}
	
.nameBox .nana
{
	font-weight: 500;
	font-size: 18px;
	margin-left: 10px;
}

.detailBox .detailContent .snsntitle
{
	font-weight: 600;
	font-size: 20px;
}
.detailBox .detailContent .mainGetResult
{
	text-align: center;
}

.detailBox .detailContent .mainGetResult img
{
	width: 600px;
	height: 360px;
	border-radius: 6px;
	margin-top: 12px;
}

.detailBox .detailContent .textArea
{
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}


.detailBox .detailContent .detailTitle
{
	text-align: left;
    margin: 12px 0 0px 0px;
    font-size: var(--font-size16);
}

.detailBox .detailContent textarea
{
	width: 600px;
	height: 120px;
	font-size: var(--font-size14);
	font-weight: 400;
	margin: 12px 4px;
	resize: none;
	border: none;
	outline: none;
	cursor: auto;
}
.detailBox .iconBox
{
	display: flex;
	border-top: solid 1px var(--border-color-gray);
	padding: 12px 12px 12px 8px;
	margin-top: 14px;
}
.detailBox .iconBox .datete
{
	font-size: 14px;
	font-weight: 300;
}

.detailBox .iconBox .icon,
.detailBox .iconBox .commentIcon
{
	font-size: var(--font-size24);
	margin-right: 16px;
	cursor: pointer;
}

.detailBox .iconBox h5
{
	margin-left: auto;
	color: var(--color-gray);
}

.popupDetail
{
	width: 1000px;
	height: 670px;
	border: 1px solid var(--border-color-gray);
	border-radius: 15px;
	display: flex;
}

.popupDetail .detailBox
{
	width: 600px;
	height: 670px;
	border-right: 1px solid var(--border-color-gray);
	padding: 0 28px;
}

.popupDetail .detailBox .userBox
{
	display: flex;
	align-items: center;
	margin: 14px 0
}

.popupDetail .detailBox .userBox .popupUserImage img
{
	width: 48px;
	height: 48px;
	cursor: pointer;
	border-radius: 50%;
}

.popupDetail .detailBox .userBox .nameBox h4
{
	margin: 18px;
	font-size: var(--font-size16);
	cursor: pointer;
}

.popupDetail .detailBox .userBox .right
{
	margin-left: auto;
}

.popupDetail .detailBox .userBox .right button
{
	width: 58px;
	height: 30px;
	border-radius: 6px;
	background-color: var(--color-white);
	border: solid 1px var(--border-color-gray);
	color: var(--color-black);
	font-size: var(--font-size12);
	cursor: pointer;
}

.popupDetail .detailContent
{
	text-align: center;
	height: 85%;
	display: flex;
    flex-direction: column;
}

.popupDetail .detailContent .popupGetResult
{
	text-align: center;
}

.popupDetail .detailContent .popupGetResult img
{
	width: 600px;
	height: 360px;
	border-radius: 6px;
}

.popupDetail .detailContent h4
{
	text-align: left;
	margin: 12px 0 0 4px;
	font-size: var(--font-size16);
}
.popupDetail .detailContent .popupTextarea
{
	display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.popupDetail .detailContent textarea
{
	width: 600px;
	height: 100%;
	font-size: var(--font-size14);
	font-weight: 300;
	margin: 12px 0 8px 4px;
	resize: none;
	border: none;
	outline: none;
	line-height: 1.5;
	
	
	overflow-y: scroll; /*  */
}

/* 스크롤바의 폭 너비 */
.popupDetail .detailContent textarea::-webkit-scrollbar {
    width: 10px;  
}

.popupDetail .detailContent textarea::-webkit-scrollbar-thumb {
    background: #FFA500; /* 스크롤바 색상 */
    border-radius: 10px; /* 스크롤바 둥근 테두리 */
}

.popupDetail .detailContent textarea::-webkit-scrollbar-track {
	background: rgba(255, 165, 0, 0.25); /* 스크롤바 뒷 배경 색상, 투명도 50% */
	border-radius: 10px; /* 스크롤바 둥근 테두리 */
}
.popupDetail .detailContent h5
{
	margin-left: auto;
    font-size: var(--font-size12);
    color: var(--color-gray);
    font-weight: 400;
    width: fit-content;
	margin-top: auto;
}

.popupDetail .detailComment
{
	width: 100%;
	display: flex;
	flex-direction: column;
}

.popupDetail .detailComment .xIcon
{
	display: flex;
	justify-content: right;
	margin: 20px 20px 12px;
	cursor: pointer;
	color: var(--color-gray);
}

.popupDetail .detailComment .commentContent
{
	height: 100%;
}
.popupDetail .detailComment .commentCon
{
	display: flex;
	align-items: start;
	justify-content: flex-start;
	margin: 8px 0;
}

.popupDetail .detailComment .commentCon .left
{
	display: flex;
	align-items: center;
	margin-right: 12px;
}

.popupDetail .detailComment .commentCon .left .commentUserImage img
{
	width: 36px;
	height: 36px;
	margin: 0 12px 0px 20px;
	border-radius: 50%;
}

.popupDetail .detailComment .nameBox
{
	display: flex;
	justify-content: flex-start;
}

.popupDetail .detailComment .nameBox h4
{
	font-size: var(--font-size12);
	margin: 0;
	align-items: center;
	white-space: nowrap;
}

.popupDetail .detailComment .right
{
	margin: 12px 20px 0 0;
}
.popupDetail .detailComment .right h4
{
	font-size: var(--font-size12);
	font-weight: 400;
}
.popupDetail .detailComment .right h5
{
	font-size: 10px;
	font-weight: 400;
	color: var(--color-gray);
}

.popupDetail .detailComment .commentBottom
{
	margin-top: auto;
	/* padding: 20px; */
}

.popupDetail .detailComment .commentBottom .numberCount
{
	display: flex;
}

.popupDetail .detailComment .commentBottom .numberCount h5
{
	margin: 4px 0px 12px 12px  ;
	font-size: var(--font-size12);
	color: var(--color-gray);
}

.popupDetail .detailComment .commentBottom .commentBox
{
	height: 60px;
	display: flex;
	align-items: center;
	border-top: 1px solid var(--border-color-gray);
}

.popupDetail .detailComment .commentBottom .commentBox .icon
{
	font-size: var(--font-size24);
	margin-left: 12px;
}

.textarea-wrap 
{
    display: flex;
    align-items: center; /* 세로 가운데 정렬 */
    width: 240px;
    height: 40px;
    margin-left: 12px; /* 좌측 여백 추가 */
}

.popupDetail .detailComment .commentBottom .commentBox textarea
{
	font-size: var(--font-size14);
	border: none;
	outline: none;
	width: 100%;
    height: 100%;
	resize: none;
}
.popupDetail .detailComment .commentBottom .commentBox input[type="submit"]
{
	font-size: var(--font-size14);
	border: none;
	background-color: var(--color-white);
	color: var(--color-gray);
	cursor: pointer;
}

/* 모달 스타일 */
.modal {
	display: none; /* 초기에는 숨겨진 상태 */
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.5); /* 반투명한 배경 */
	display: flex;
	justify-content: center;
	align-items: center;
}

/* 모달 콘텐츠 스타일 */
.modal-content {
	background-color: #fefefe;
	border: 1px solid #888;
	width: auto;
	max-width: 1000px; /* 최대 너비 설정 */
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	animation: modalopen 0.3s; /* 모달 열리는 애니메이션 */
	border-radius: 15px;
	overflow: hidden;
}

body.modal-open {
	overflow: hidden;
}
