:root 
{
	/* 컬러 모음 */
	--main-color:#FFA500;
	--color-black: #111;
	--color-white: #fff;
	--color-gray: #787878;
	--input-gray: #e5e5ec;
	--button-gray: #f7f7f7;
	--border-color-gray: #dadada;
	--font-size32: 32px;
	--font-size24: 24px;
	--font-size16: 16px;
	--font-size14: 14px;
	--font-size12: 12px;
}

.snsMain
{
	display: flex;
	margin: 80px;
}

.snsMain .detailBox
{
	margin: 0 80px 80px;
	width: 600px;
}

.snsMain .detailBox .userBox
{
	display: flex;
	align-items: center;
}

.snsMain .detailBox .userBox .UserImage img
{
	max-width: 36px;
	max-height: 36px;
	min-width: 36px;
	min-height: 36px;
	border-radius: 50%;
	cursor: pointer;
}

.snsMain .detailBox .userBox .nameBox h4
{
	margin: 18px;
	font-size: var(--font-size14);
	cursor: pointer;
}

.snsMain .detailBox .userBox .right
{
	margin-left: auto;
}

/* .snsMain .detailBox .userBox .right button
{
	width: 58px;
	height: 30px;
	border-radius: 6px;
	background-color: var(--color-white);
	border: solid 1px var(--border-color-gray);
	color: var(--color-black);
	font-size: var(--font-size12);
	cursor: pointer;
} */

.snsMain .detailBox .detailContent
{
	text-align: left;

	display: flex;
	flex-direction: column;
	justify-content:space-between;
}
.snsMain .detailBox .detailContent .snsn {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: calc(1.2em * 5); /* 5줄 정도의 높이로 제한 */
    word-break: break-word;

	
	
	font-weight: 300;
	font-size: 16px;
	margin-top: 10px;


	
}

/* "더보기" 버튼 스타일링 */
.snsMain .detailBox .detailContent .more-btn {
    display: none; /* 기본적으로 숨김 */
	color: var(--color-gray);
    background: none;
    border: none;
    cursor: pointer;
    font-weight: 500;
    margin-top: 8px;
    margin-left: auto;
    margin-right: 12px;
}
	
.nameBox .nana
{
	font-weight: 500;
	font-size: 18px;
	margin-left: 10px;
}



.snsMain .detailBox .detailContent .snsntitle
{
	font-weight: 600;
	font-size: 20px;
}

.snsMain .detailBox .detailContent .mainGetResult
{
	text-align: center;
}

.snsMain .detailBox .detailContent .mainGetResult img
{
	max-width: 600px;
	max-height: 360px;
	min-width: 600px;
	min-height: 360px;
	border-radius: 6px;
	margin-top: 12px;
}

.snsMain .detailBox .detailContent .textArea
{
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}


.snsMain .detailBox .detailContent .detailTitle
{
	text-align: left;
    margin: 12px 0 0px 0px;
    font-size: var(--font-size16);
}

.snsMain .detailBox .detailContent textarea
{
	width: 600px;
	height: 120px;
	font-size: var(--font-size14);
	font-weight: 400;
	margin: 12px 4px;
	resize: none;
	border: none;
	outline: none;
	cursor: auto;
}

.snsMain .detailBox .iconBox
{
	display: flex;
	border-top: solid 1px var(--border-color-gray);
	padding: 12px 12px 12px 8px;
	margin-top: 14px;
}
.snsMain .detailBox .iconBox .datete
{
	font-size: 14px;
	font-weight: 300;
}

.snsMain .detailBox .iconBox .icon,
.snsMain .detailBox .iconBox .commentIcon
{
	font-size: var(--font-size24);
	margin-right: 16px;
	cursor: pointer;
}

.snsMain .detailBox .iconBox h5
{
	margin-left: auto;
	color: var(--color-gray);
}

.snsMain .rightCon
{
	margin: 80px;
	display: flex;
	flex-direction: column;
}

.snsMain .rightCon h5
{
	color: var(--color-gray);
	font-size: var(--font-size14);
}

.snsMain .rightCon .profile
{
	margin-bottom: 12px;
}

.snsMain .rightCon .userBox
{
	display: flex;
	align-items: center;
	/* width: 240px; */

}

.snsMain .rightCon .userBox .UserImage img
{
	max-width: 40px;
	max-height: 40px;
	min-width: 40px;
	min-height: 40px;
	border-radius: 50%;
	cursor: pointer;
}

.snsMain .rightCon .userBox .nameBox
{
	margin: 18px;
}

.snsMain .rightCon .userBox .nameBox h4
{
	font-size: var(--font-size14);
	cursor: pointer;
}

.snsMain .rightCon .userBox .nameBox h5
{
	font-size: var(--font-size12);
	color: var(--color-gray);
}

.snsMain .rightCon .userBox .right
{
	margin-left: auto;
}

/* .snsMain .rightCon .userBox .right button
{
	width: 58px;
	height: 30px;
	border-radius: 6px;
	background-color: var(--main-color);
	border: solid 1px var(--main-color);
	color: var(--color-white);
	font-size: var(--font-size12);
	cursor: pointer;
} */

.snsMain .rightCon .more
{
	margin-left: auto;
	margin-top: 8px;
	cursor: pointer;
}

.popupDetail
{
	width: 1000px;
	height: 670px;
	border: 1px solid var(--border-color-gray);
	border-radius: 15px;
	display: flex;
}

.popupDetail .detailBox
{
	width: 600px;
	height: 670px;
	border-right: 1px solid var(--border-color-gray);
	padding: 0 28px;
}

.popupDetail .detailBox .userBox
{
	display: flex;
	align-items: center;
	margin: 14px 0
}

.popupDetail .detailBox .userBox .popupUserImage img
{
	max-width: 48px;
	max-height: 48px;
	min-width: 48px;
	min-height: 48px;
	cursor: pointer;
	border-radius: 50%;
}

.popupDetail .detailBox .userBox .nameBox h4
{
	margin: 18px;
	font-size: var(--font-size16);
	cursor: pointer;
}

.popupDetail .detailBox .userBox .right
{
	margin-left: auto;
}

/* .popupDetail .detailBox .userBox .right button
{
	width: 58px;
	height: 30px;
	border-radius: 6px;
	background-color: var(--color-white);
	border: solid 1px var(--border-color-gray);
	color: var(--color-black);
	font-size: var(--font-size12);
	cursor: pointer;
} */

.popupDetail .detailContent
{
	text-align: center;
	height: 85%;
	display: flex;
    flex-direction: column;
}

.popupDetail .detailContent .popupGetResult
{
	text-align: center;
}

.popupDetail .detailContent .popupGetResult img
{
	max-width: 600px;
	max-height: 360px;
	min-width: 600px;
	min-height: 360px;
	border-radius: 6px;
}

.popupDetail .detailContent h4
{
	text-align: left;
	margin: 12px 0 0 4px;
	font-size: var(--font-size16);
}
.popupDetail .detailContent .popupTextarea
{
	display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.popupDetail .detailContent textarea
{
	width: 600px;
	height: 100%;
	font-size: var(--font-size14);
	font-weight: 300;
	margin: 12px 0 8px 4px;
	resize: none;
	border: none;
	outline: none;
	line-height: 1.5;
	
	
	overflow-y: scroll; /*  */
}

/* 스크롤바의 폭 너비 */
.popupDetail .detailContent textarea::-webkit-scrollbar {
    width: 10px;  
}

.popupDetail .detailContent textarea::-webkit-scrollbar-thumb {
    background: #FFA500; /* 스크롤바 색상 */
    border-radius: 10px; /* 스크롤바 둥근 테두리 */
}

.popupDetail .detailContent textarea::-webkit-scrollbar-track {
	background: rgba(255, 165, 0, 0.25); /* 스크롤바 뒷 배경 색상, 투명도 50% */
	border-radius: 10px; /* 스크롤바 둥근 테두리 */
}
.popupDetail .detailContent h5
{
	margin-left: auto;
    font-size: var(--font-size12);
    color: var(--color-gray);
    font-weight: 400;
    width: fit-content;
	margin-top: auto;
}

.popupDetail .detailComment
{
	width: 100%;
	display: flex;
	flex-direction: column;
}

.popupDetail .detailComment .xIcon
{
	display: flex;
	justify-content: right;
	margin: 20px 20px 12px;
	cursor: pointer;
	color: var(--color-gray);
}

.popupDetail .detailComment .commentContent
{
	height: 100%;
	overflow: auto;
	display: flex;
	flex-direction: column;
	gap:24px 0;
}
.popupDetail .detailComment .commentCon
{
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.popupDetail .detailComment .commentCon .left
{
	display: flex;
	align-items: center;
	margin-right: 12px;
}

.popupDetail .detailComment .commentCon .left .commentUserImage img
{
	max-width: 36px;
	max-height: 36px;
	min-width: 36px;
	min-height: 36px;
	margin: 0 12px 0px 20px;
	border-radius: 50%;
}

.popupDetail .detailComment .nameBox
{
	display: flex;
	justify-content: flex-start;
}

.popupDetail .detailComment .nameBox h4
{
	font-size: var(--font-size12);
	margin: 0;
	align-items: center;
	white-space: nowrap;
}

.popupDetail .detailComment .right
{
	
}
.popupDetail .detailComment .right h4
{
	font-size: var(--font-size12);
	font-weight: 400;
	word-break: break-all;
}
.popupDetail .detailComment .right h5
{
	font-size: 10px;
	font-weight: 400;
	color: var(--color-gray);
}

.popupDetail .detailComment .commentBottom
{
	margin-top: 4px;
	/* padding: 20px; */
}

.popupDetail .detailComment .commentBottom .numberCount
{
	display: flex;
}

.popupDetail .detailComment .commentBottom .numberCount h5
{
	margin: 4px 0px 12px 12px  ;
	font-size: var(--font-size12);
	color: var(--color-gray);
}

.popupDetail .detailComment .commentBottom .commentBox
{
	height: 60px;
	display: flex;
	align-items: center;
	border-top: 1px solid var(--border-color-gray);
}

.popupDetail .detailComment .commentBottom .commentBox .icon
{
	font-size: var(--font-size24);
	margin-left: 12px;
	cursor: pointer;
}
.popupDetail .detailComment .commentBottom .commentBox #commentForm
{
	display: flex;
}

.textarea-wrap 
{
    display: flex;
    align-items: center; /* 세로 가운데 정렬 */
    width: 240px;
    height: 40px;
    margin-left: 12px; /* 좌측 여백 추가 */
}

.popupDetail .detailComment .commentBottom .commentBox textarea
{
	font-size: var(--font-size14);
	border: none;
	outline: none;
	width: 100%;
    height: 100%;
	resize: none;
	overflow: hidden;
    padding-top: 20px;
}
.popupDetail .detailComment .commentBottom .commentBox input[type="submit"]
{
	font-size: var(--font-size14);
	border: none;
	background-color: var(--color-white);
	color: var(--color-gray);
	cursor: pointer;
}

.userProfileLink
{
	color: var(--color-black);
}

/* 모달 스타일 */
.modal {
	display: none; /* 초기에는 숨겨진 상태 */
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.5); /* 반투명한 배경 */
	display: flex;
	justify-content: center;
	align-items: center;
}

/* 모달 콘텐츠 스타일 */
.modal-content {
	background-color: #fefefe;
	border: 1px solid #888;
	width: auto;
	max-width: 1000px; /* 최대 너비 설정 */
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	animation: modalopen 0.3s; /* 모달 열리는 애니메이션 */
	border-radius: 15px;
	overflow: hidden;
}

body.modal-open {
	overflow: hidden;
}

.commentUserImage ul li > div 
{
	display: flex;
	align-items: center;
	justify-content: center;
}